$brand-primary: hsl(20, 20%, 15%);
$brand-secondary: hsl(20, 30%, 35%);
$radius-base: 0.25rem;
$shadow-card: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.123);
$shadow-card-hover: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.199);